@font-face {
  font-family: 'Nosifer';
  src: url('../../../FontesCarv/Nosifer/Nosifer-Regular.ttf');
}

/* Container Melhores Momentos */

.containerMoments {
  width: 100%;
  padding-top: 20px;
  text-align: center;

  font-family: 'Manrope-Bold';
  color: white;
  font-size: 24px;
  margin: 3rem 0;
  display: inline;
  justify-content: center;
  align-items: center;

  background-image: url('../../../imgsFinais/img5.png');
  background-size: 70%;
  background-position: 190% -40%;
  background-size: 68.6%;
  background-position: 200% 98%;
  background-repeat: no-repeat;

}

.containerMoments h1 {
  margin-bottom: 4rem;
}

#pink {
  color: #D9298A;
}

.bestMoments {

  margin-top: 20%;
}

.moment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.moment img {
  width: 12%;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;

}

.moment img:hover {
  border: 4px solid #D9298A;
}

.containerMoments #line {
  position: relative;
  top: 70px;

}

.imgLateral {
  height: 90%;
}

/* Div linha do tempo - anos */

.years {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Nosifer';
  color: white;
}

/* Anos:  */

#year1 {
  display: flex;
  flex-direction: row;
  font-family: 'Nosifer';
  text-shadow: 0 0 30px #7c7a7b, 0 0 45px #7c7a7b;
  animation: piscaLetters 1.5s infinite;

}

#year2 {
  display: flex;
  flex-direction: row;

  font-family: 'Nosifer';
  text-shadow: 0 0 30px #7c7a7b, 0 0 45px #7c7a7b;
  animation: piscaLetters 1.5s infinite;
}

#year3 {
  display: flex;
  flex-direction: row;


  font-family: 'Nosifer';
  text-shadow: 0 0 30px #7c7a7b, 0 0 45px #7c7a7b;
  animation: piscaLetters 1.5s infinite;
}

/* Animação texto: */

@keyframes piscaLetters {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

#purple {
  color: #AC6CD7;
  text-align: center;
  font-family: 'Nosifer';
}


 